<html>
    <head>
        {% if title %}
        <title>{{ title }} - grosus</title>
        {% else %}
        <title>Welcome to grosus project</title>
        {% endif %}
    <style>
    .vertical-gap {
     margin-bottom: 1cm;
    }
    .glyphicon { margin-right:5px;}
    .rating .glyphicon {font-size: 22px;}
    .rating-num { margin-top:0px;font-size: 54px; }
    </style>
    <link  rel="stylesheet"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
        | <a href="{{ url_for('deputies') }}">Deputies</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
