<html>
    <head>
        {% if title %}
        <title>{{ title }} - grosus</title>
        {% else %}
        <title>Welcome to grosus project</title>
        {% endif %}
        </head>
    <body>
        <div>Grosus: <a href="/index">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
