  <div  class="col-xs-12 col-md-3">
      <div  class="well well-sm">
        <div  class="row">
          <div  class="text-center">
            <h1  class="rating-num"> <span  class="glyphicon glyphicon-user"></span></h1>
            <div>
                <input id="input-1" class="rating rating-loading" value="{{deputy.get_rating(current_user)}}" data-min="0" data-max="5" data-step="0.1" data-readonly="true" data-show-caption="false" data-show-clear="false"> 
            </div>
            <div  class="vertical-gap"> Based on <span  style="font-weight:bold">{{current_user.get_votes_count()}}</span>
              votes </div>
            <div> <span  style="font-weight:bold">{{deputy.name}}</span></div>
            <div> <span  style="font-weight:bold">{{deputy.group}}</span></div>
          </div>
        </div>
      </div>
  </div>
