  <div  class="col-xs-12 col-md-3">
      <div  class="well well-sm">
        <div  class="row">
          <div  class="text-center">
            <h1  class="rating-num"> <span  class="glyphicon glyphicon-user"></span></h1>
            <div  class="rating"> <span  class="glyphicon"  style="font-weight:bold">4.0</span>
              <span  class="glyphicon glyphicon-star"></span><span  class="glyphicon glyphicon-star">
              </span><span  class="glyphicon glyphicon-star"></span><span  class="glyphicon glyphicon-star">
              </span><span  class="glyphicon glyphicon-star-empty"></span> </div>
            <div  class="vertical-gap"> Based on <span  style="font-weight:bold">12</span>
              votes </div>
            <div> <span  style="font-weight:bold">Володимир Гройсман</span></div>
            <div> <span  style="font-weight:bold">БПП</span></div>
          </div>
        </div>
      </div>
  </div>
