    <div  class="col-md-4 text-center">
      <div  class="box">
        <div  class="box-content"> <span  id="boxclose">x</span>
          <h2  class="tag-title">Heading</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur
            felis vel imperdiet varius. Maecenas bibendum elementum molestie.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam
            scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt.
            Proin elit mauris, hendrerit in varius sed, facilisis sit amet
            neque.</p>
          <div  class="well well-sm">
            <div  class="row">
              <div  class="col-md-6">228 "За"</div>
              <div  class="col-md-6"><font  color="green">Прийнято</font></div>
            </div>
          </div>
          <br>
          Мій голос:
          <div  class="btn-group"> 
            <a  class="btn btn-danger"  href="#"><i class="fa fa-thumbs-down"></i></a>
            <a  class="btn btn-success"  href="#"><i class="fa fa-thumbs-up"></i></a>
          </div>
        </div>
      </div>
    </div>
